<ion-view view-title="Search">
  <ion-content >
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="search" ng-model="SerchedCity.query">
        {{SerchedCity.query}}
      </label>
      <button class="button button-small" ng-click="searchCity()">
        Submit
      </button>
    </div>
    <input type="text">
    <ion-list>
     <ion-item  ng-repeat="forecast in forecast"  href="#/app/search">
        <div class="list card forecastCard" >
          <div class="item item-divider">
            <i class="icon ion-calendar"></i>
            <p class="forecastDate"> {{forecast.date}}  </p>
          </div>
          <div class="item item-text-wrap">
            <a href="#" class="item item-icon-left">
              <img ng-src="{{forecast.day.condition.icon}}" />
              {{forecast.day.condition.text}}
            </a>
            <a href="#" class="item icon-left">
              <i class="icon  ion-thermometer"></i>
              Максимальная температура : {{forecast.day.maxtemp_c}}  С&deg
            </a>

            <a href="#" class="item icon-left">
              <i class="icon ion-thermometer"></i>
              Средняя температура :  {{forecast.day.avgtemp_c}} С&deg
            </a>

            <a href="#" class="item icon-left">
              <i class="icon ion-thermometer"></i>
              Минимальная температура :  {{forecast.day.mintemp_c}}  С&deg
            </a>

            <a href="#" class="item icon-left">
              <i class="icon   ion-arrow-right-c"></i>
              {{forecast.day.maxwind_kph}}
            </a>

          </div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
